@import "tailwindcss";


body {
    margin: 0;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: "Lora", serif;
    font-weight: 600;
    font-style: normal;

}

/* Overlay for premium glass like style */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(6px);
    z-index: -1;
}



/* clear button -- dropdown*/

.history-delete {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid black;
    border-radius: 13px;
    padding: 4px;
}

.history-dropdown:focus {
    outline: none;
    border: 0px solid white;
    border-radius: 5px;
    padding: 2px;
    background-color: #059669;

}


.clear-history {

    background-color: blue;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 10px;
    transition: 0.3s;
}

.clear-history:hover {
    background: red;
    transform: scale(1.1);
}

.hidden {
    display: none;

}



/* Welcome placeholder */
.welcome-box {
    text-align: center;
    margin-top: 80px;
    font-size: 28px;
    font-weight: 600;
    color: white;
    opacity: 0.9;

    margin-bottom: 100px;

}


#cityInput {

    outline: none;
    border: 3px solid #07b721;
    border-radius: 13px;

    color: white;
}


.search-btn {
    background: linear-gradient(135deg, #000000, #1f2937);
    color: white;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.search-btn:hover {
    background: linear-gradient(135deg, #111827, #374151);
    transform: translateY(-2px);
}



.location-btn {
    background: linear-gradient(135deg, #10b981, #059669);
    color: white;
    padding: 8px 14px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 4px 12px rgba(16, 185, 129, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

}

.location-btn:hover {
    transform: scale(1.08);
    box-shadow: 0 6px 18px rgba(16, 185, 129, 0.7);
}

.loc-icon {
    font-size: 18px;
}



/* Weather Emoji Styling */
.weather-emoji-container {
    position: absolute;
    left: 12%;
    top: 46%;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;

}

.weather-emoji-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
    background: transparent;
    filter: drop-shadow(0 15px 25px rgba(0, 0, 0, 0.4));

    border-radius: 50%;
}



@media(width < 1280px) {
    .weather-emoji-container {
        position: absolute;
        left: 18%;
        top: 53%;
        width: 100px;
        height: 100px;
    }
}

@media(width < 768px) {
    .weather-emoji-container {
        position: absolute;
        left: 45%;
        top: 20%;
        width: 100px;
        height: 100px;
    }
}

@media(width < 606px) {
    .weather-emoji-container {
        position: absolute;
        left: 45%;
        top: 27%;
        width: 100px;
        height: 100px;
    }
}